body {
    margin: 0;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
    background-color: #f4f4f4; /* Light background for contrast */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 50px;
    /*box-shadow: 0 2px 0 rgba(217, 106, 41, 1);*/
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px; /* Adds spacing between links */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #D96A29;
    transition: all 0.2s ease-in-out;
    transform: translateX(-50%);
}

.nav-links a:hover::after {
    width: 100%;
}

.logo a {
    color: #000;
}

.nav-links a:hover {
    color: #D96A29;
}

.active {
    color: #D96A29;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px; /* Add padding for spacing */
}

.hello {
    font-size: 75px;
    display: flex;
    justify-content: center; /* Center text */
    margin-bottom: 20px; /* Space below the heading */
}

.block {
    /*background: white;*/
    padding: 20px; /* Add padding for content */
    border-radius: 8px; /* Rounded corners */
    /*color: white; !* Text color for contrast *!*/
    text-align: center; /* Center text inside the block */
    width: 100%; /* Full width */
    max-width: 1200px; /* Limit max width */
    margin-top: 10px;
}